<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lovejjfg.zhifou"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dNwMdXeFGYGrNmrQGyvhsxXECUcaU3v4"/>

        <activity
            android:name=".view.ListStory"
            android:theme="@style/AppDrawerLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DatePick"
            android:theme="@style/TransparentAppCompatTheme"/>
        <activity
            android:name=".view.DetailStory"
            android:theme="@style/AppTheme.Detail"/>
        <!-- <activity -->
        <!-- android:name=".view.DetailStory1" -->
        <!-- android:theme="@style/AppTheme.Detail" /> -->
        <activity
            android:name=".view.SpecifiedDateStory"
            android:label="@string/title_activity_specified_date_story"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.SearchActivity"
            android:theme="@style/ZhiFou.Translucent.Search"/>
        <!-- <activity android:name=".view.sticky"/> -->
        <activity android:name=".view.ScrollingActivity"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".view.MapActivity">
        </activity>
    </application>

</manifest>